<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3 class="page-title" > Empleados </h3>
        <br>

        <div class="form-group">

            <div class="col-md-6">
                <div class="input-group">
                    <input type="text"   class="form-control" 
                           placeholder="Ej:Luis,Serge,Bermejo...etc"  ng-model="filter">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn green" type="button" ng-click="nuevo()" > <i class="fa fa-plus"  ></i> </button>

                    </span>
                </div>

            </div>
        </div>


        <br>
        <br>
        <br>
        
        <div style="border:white;"  class="portlet box purple">
                                <div style="background: #747F8C;" class="portlet-title">
                                    <div style="color:black;" class="caption">
                                        <i class="fa fa-cogs"></i> Listado Empleados </div>
                                    <div class="tools">
                                        <a style="" href="javascript:;" class="collapse"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        
                                    </div>
                                </div>
        
     <div class="portlet-body">
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
            <thead>
                <tr>
                    <th class="desktop">Cedula</th>
                    <th class="desktop">Nombre</th>
                    <th class="min-phone-l">Apellido</th>
                    <th class="min-tablet">Ciudad</th>
                    <th class="none">Direccion</th>
                    <th class="none">Telefono</th>
                    <th class="none">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in empleados| filter:filter " >
                    <td>{{ e.id_empleado}}</td>
                    <td>{{ e.nombre}}</td>
                    <td>{{ e.apellido}}</td>
                    <td>{{ e.ciudad}}</td>
                    <td>{{ e.direccion}}</td>
                    <td>{{ e.telefono}}</td>
                    <td> 
                        <a href="javascript:;" class="btn btn-circle btn-sm red"> Actualizar <i class="fa fa-edit"> </i></a> 
                        <a href="javascript:;" class="btn btn-circle btn-sm purple" ng-click="delete(e.id_empleado)" > <i class="fa fa-times"></i> Eliminar </a> 
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
     </div>

        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color:black;"> <strong> Empleados </strong></h4>
                    </div>
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="control-label col-md-3">Cedula
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-7"> <input type="text" ng-model="new_empleado.id_empleado" data-required="1" class="form-control"/> 
                                    </div>
                                </div>

                                <div  class="form-group" >
                                    <label class="control-label col-md-3">Nombre
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-7"> <input type="text" ng-model="new_empleado.nombre" name="name" data-required="1" class="form-control" /> 
                                    </div>
                                </div>

                                <div  class="form-group" >
                                    <label class="control-label col-md-3">Apellido
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-7"> <input type="text" ng-model="new_empleado.apellido" name="name" data-required="1" class="form-control" /> 
                                    </div>
                                </div>

                                <div  class="form-group" >
                                    <label class="control-label col-md-3">Ciudad
                                        <span class="required">  </span>
                                    </label>
                                    <div class="col-md-7"> <input ng-model="new_empleado.ciudad" type="text" name="name" data-required="1" class="form-control" /> 
                                    </div>
                                </div>

                                <div  class="form-group" >
                                    <label class="control-label col-md-3">Direccion
                                        <span class="required">  </span>
                                    </label>
                                    <div class="col-md-7"> <input type="text" ng-model="new_empleado.direccion"  name="name" data-required="1" class="form-control" /> 
                                    </div>
                                </div>          

                                <div  class="form-group" >
                                    <label class="control-label col-md-3">Telefono
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-7"> <input type="text" name="name" ng-model="new_empleado.telefono" data-required="1" class="form-control" /> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="save()" class="btn red">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
