<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>        
        <script src="app_lujeton/init.js"></script>      
        <script src="app_lujeton/provider/usuario_provider.js"></script>
        <script src="app_lujeton/controller/login_ctrl.js"></script>
    </head>
    <body ng-app="lujeton_app" ng-controller="login_ctrl">
    
    <label for="user">nombre</label>
    <br>   
    <input id="nombre" ng-model="usuario.user" type="text" name="user" >
    <br>
    <label for="pass">password</label>
    <br>
    <input id="pass" ng-model="usuario.pass" type="password" name="pass" >
    <br>
    <button class="" ng-click="evt_iniciar_sesion()" >Sign in</button>
    </body>
</html>