<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3 class="page-title" > Bodegas </h3>
        <br>

        <div class="form-group">

            <div class="col-md-6">
                <div class="input-group">
                    <input type="text"   class="form-control" 
                           placeholder="Ej:Principal,Bodega stock" >
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn green" type="button" > <i class="fa fa-plus"  ></i> </button>

                    </span>
                </div>

            </div>
        </div>

        <a href="#/facturacion/detallefactura" class="btn green">Abrir</a>

        <button class="btn green" type="button" > abrir </button>


        <br>
        <br>
        <br>

        <div style="border:white;"  class="portlet box purple">
            <div style="background: #747F8C;" class="portlet-title">
                <div style="color:black;" class="caption">
                    <i class="fa fa-cogs"></i> Listado Bodegas </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload"> </a>

                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                    <thead>
                        <tr>
                            <th class="desktop">ID</th>
                            <th class="desktop">Descripcion</th>
                            <th class="none">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>




                    </tbody>
                </table>
            </div>
        </div>       

    </body>
</html>
