<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3 class="page-title" > Resumen De Utilidades </h3>
        <br>
        

        

        <div class="form-group">

            <div class="col-md-9">
                <div class="input-group">
                    
                    <span>CONSULTAR </span> 
                    <button style="background: #A3A7B0;border: none;" type="button" class="btn btn-success btn-sm mt-ladda-btn ladda-button"> TODO</button>
                    
                    <span style="margin-left: 20px;">Desde</span>
                    <input>
                    <span style="margin-left: 0px;">Hasta</span>
                    <input>
                     <button style="background: #A3A7B0;border: none; margin-left: 5px;" type="button" class="btn btn-success btn-sm mt-ladda-btn ladda-button"> Buscar</button>
                    
                </div>

            </div>
        </div>


        <br>
        <br>
        <br>

       
        
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                        <thead>
                            <tr>
                                <th class="desktop">No</th>
                                <th class="desktop">Concepto</th>
                                <th class="min-phone-l">Valor</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <td>1</td>
                             <td>Total ingreso a la fecha</td>
                             <td style="color:#323232"> $300.000 </td>
                            </tr>
                        </tbody>
                        
                        <tbody>
                            <td>2</td>
                             <td> Total egreso a la fecha</td>
                             <td style="color:#C6032F"> $200.000 </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <td> 3</td>
                             <td> Total cuentas por cobrar</td>
                             <td style="color:#323232"> $100.000 </td>
                            </tr>
                        </tbody>
                         <thead>
                            <tr>
                                <th> </th>  
                                <th> </th>  
                            </tr>
                        </thead>
                        <tbody>
                            <td> </td>
                            <td style="float:right;background: #3FD5C0"> Total Utilidades</td>
                             <td style="color:#FC8A05"> $200.000 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
